.read-only{
    cursor:text !important;
    &.list-group-item:hover{
        box-shadow:none;
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.container {
    display: flex;
    min-height: 100px;
}
.sidebar {
    width: 300px;
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.sidebar a {
    color: gray;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    &.clicked{
        color: white !important;
    }
}
.sidebar a:hover {
    text-decoration: underline;
    color: white;
}

.main-content {
    /* background-image: url("../images/logo.jpg") ; */
    flex-grow: 1;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.main-content button {
    background-color: #d70018;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
.main-content button:hover {
    background-color: #c40016;
}
.bucket-img {
    width: 300px;
    margin-top: 20px;
}
.header {
    width: 100%;
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}
.header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.list-group-item{
    cursor: text;
    margin: 5px 0;
    /* border: var(--bs-list-group-border-width) 1px solid black; */
    border: 1px solid black;
    border-top-width: 1px !important;
    border-radius: 10px;
}
/* .list-group-item-BillDetail{

} */
.list-group-item-BillDetail:hover{
    /* box-shadow: 2px 2px 2px #aaa; */
    cursor: pointer;
}
.address-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-20%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 400px;
        z-index: 1050;
    }

    .custom-scroll {
        max-height: 560px; /* Đặt chiều cao tối đa */
        overflow-y: auto;  /* Cho phép cuộn dọc */
    }
    .seperated{
        border: 4px solid #ccc;
        margin: 10px 0;
    }