html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* This will allow the main content to expand and push the footer down */
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #fff;
    border-bottom: 3px solid #000;
    z-index: 1030; /* Đảm bảo navbar luôn hiển thị trên các phần tử khác */
}

.navbar-brand img {
    width: 50px;
}

/*
.navbar-nav {
    margin-left: 15px; // Sát logo
    display: flex;
    align-items: center;
}
*/

.navbar-nav .nav-item {
    margin-right: 20px; /* Khoảng cách giữa các mục menu */
}

.btn-order-now {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
}

footer {
    background-color: #000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: white;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.policies-list, .menu-list, .contactUs-list {
    list-style-type: none; /* Xóa dấu chấm cho danh sách */
    padding: 0; /* Xóa khoảng cách padding */
    margin: 0; /* Xóa khoảng cách margin */
}

.policies-list li, .menu-list li, .contactUs-list li {
    margin-bottom: 0px; /* Thêm khoảng cách giữa các mục (tuỳ chọn) */
}

/* Điều chỉnh offcanvas cho thiết bị di động */
.offcanvas-start {
    width: 50%; /* Chiều rộng của offcanvas */
}

/* Đẩy các nút sang bên phải */
.navbar .d-inline.d-lg-flex {
    margin-left: auto;
}
