:root {
    /* Khai báo biến lưu màu */
    --sandyBrown: #F29C52;
    --darkOliveGreen:#493d13;
    --saddleBrown: #492d13;
    --seashell:  #fff5ed;
    --grey:#fff5ed;
    --white:#fff;
    
  }
  