.total-container {
    .address {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .title {
            color: #727070;
        }

        .detail-address {
            .content {
                flex: 4;
                margin: 0;
                border-bottom: 2px dashed #333;
            }

            .edit {
                flex: 1;
                text-align: center;
                font-size: 18px;
                color: #ff5b6a;
                cursor: pointer;
            }
        }

        .break-line {
            border-bottom: 1px solid #ccc;
        }
    }

    .voucher {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: #727070;

        .voucher-use {
            text-align: center;
            font-size: 18px;
            text-transform: capitalize;
        }

        .add-voucher {
            border: none;
            outline: none;
            color: white;
            background-color: #ff5b6a;
            padding: 5px 10px;
        }
    }

    .total {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-top: 10px;
        padding-bottom: 0 !important;

        .temporary-calculation,
        .price-total {
            width: 90%;
            border-bottom: #ff5b6a 1px dashed;
        }

        .price-total {
            border-bottom: none;
        }

        .btn-payment {
            color: white;
            background-color: #ff5b6a;
            cursor: pointer;
        }
    }

    #choose-address-orther {
        select {
            width: 100%;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin: 10px 0;
            outline: none;
            background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
                no-repeat;
            background-position: calc(100% - 0.75rem) center !important;
            -moz-appearance: none !important;
            -webkit-appearance: none !important;
            appearance: none !important;
            padding-right: 2rem !important;

            &:focus {
                border-color: #80bdff;
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }
        }

        input {
            border: 1px solid #ccc !important;
            border-radius: 10px !important;
        }
    }
}
